<h1>{{ title | uppercase }}</h1>
<p>Bem-vindo!</p>

<!-- <app-meu-header titulo="{{ title | uppercase }}"
                (funcao)="funcaoDeLog()">
</app-meu-header>

<p>Lista de Coisas</p>
<div *ngFor="let item of lista">
  {{ item.nome }}
</div>

<div [ngSwitch]="escolha">
  <p *ngSwitchCase="0">Escolha 0</p>
  <p *ngSwitchCase="1">Escolha 1</p>
</div> -->

<!-- <app-meu-conteudo></app-meu-conteudo> -->

<!-- <app-meu-array></app-meu-array> -->

<!-- <app-meu-texto></app-meu-texto> -->

<!-- <app-minha-pagina></app-minha-pagina> -->

<router-outlet></router-outlet>